# Sistema e arquivos temporários
.DS_Store
Thumbs.db
desktop.ini
*.log

# Segredos, Chaves e Variáveis de Ambiente
.env
.env.*
*.pem
*.key
*.cert
*.pfx

# Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Plataformas de Deploy e Build
.vercel
.netlify
node_modules/
